{% extends "inicio/encabezado.html" %}

{% block titulo %}Contacto{% endblock %}

{% block imagen %}
	{% load static %}
	{% static 'inicio/images/contacto.png' %}
{% endblock %}

{% block span %}Contacto <span>DSM</span>{% endblock %}

{% block encavezado %}
<div class="page-header">
	<div class="page-title">
		<h1>Contacto</h1>
		<p>Ingresa tu información</p>
	</div>
</div>
{% endblock %}

{% block contenido %}

<form class="form-horizontal" action="#" method="post" role="form" aria-label="Formulario de contacto">
	<div class="panel panel-default">
		<div class="panel-body">

			<div class="form-group">
				<label for="nombre" class="col-sm-2 control-label text-right">Nombre:</label>
				<div class="col-sm-10">
					<input type="text" id="nombre" name="nombre" class="form-control" required>
				</div>
			</div>

			<div class="form-group">
				<label for="mensaje" class="col-sm-2 control-label text-right">Mensaje:</label>
				<div class="col-sm-10">
					<textarea id="mensaje" name="mensaje" cols="50" rows="10" class="form-control" required></textarea>
				</div>
			</div>

			<div class="form-actions text-right">
				<button type="submit" class="btn btn-primary">Enviar mensaje</button>
			</div>

		</div>
	</div>
</form>

{% endblock %}