<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block titulo %}{% endblock %}</title>

{% load static %}

<link href="{% static 'inicio/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'inicio/css/londinium-theme.css' %}" rel="stylesheet">
<link href="{% static 'inicio/css/styles.css' %}" rel="stylesheet">
<link href="{% static 'inicio/css/icons.css' %}" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&display=swap" rel="stylesheet">

<!-- Scripts con defer -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js" defer></script>

<script src="{% static 'inicio/js/bootstrap.min.js' %}" defer></script>
<script src="{% static 'inicio/js/application.js' %}" defer></script>

</head>

<body>

<div class="page-container">

	<!-- NAV accesible -->
	<nav class="sidebar" aria-label="Menú principal">
		<div class="sidebar-content">
			<ul class="navigation">
				<li><a href="{% url 'Principal' %}">Inicio</a></li>
				<li><a href="{% url 'Formulario' %}">Registrar alumno</a></li>
				<li><a href="{% url 'Contacto' %}">Contacto</a></li>
			</ul>
		</div>
	</nav>

	<!-- CONTENIDO PRINCIPAL -->
	<main>
		{% block contenido %}
		{% endblock %}
	</main>

</div>

</body>
</html>