{% extends "inicio/encabezado.html" %}

{% block titulo %}Eliminar{% endblock %}

{% block imagen %}
	{% load static %}
	{% static 'inicio/images/home.png' %}
{% endblock %}	

{% block span %}Comentarios <span>DSM</span>{% endblock %}

{% block encavezado %}
<div class="page-header">
	<div class="page-title">
		<h1>Eliminar comentario</h1>
	</div>
</div>
{% endblock %}

{% block contenido %}

<form method="post" aria-label="Confirmación para eliminar comentario">
    {% csrf_token %}

    <div class="callout callout-danger fade in">
        <h2>Confirmación</h2>
        <p>
            ¿Estás seguro de que deseas <strong>eliminar</strong> este comentario?
        </p>
    </div>

    <button type="submit" class="btn btn-danger">
        Sí, eliminar comentario
    </button>

    <a href="{% url 'Consulta' %}" class="btn btn-secondary">
        Cancelar eliminación
    </a>

</form>

{% endblock %}